/* You can add global styles to this file, and also import other style files */
@import 'assets/css/fonts.css';

body {
  font-family: 'Share', cursive;
  color: #fff;
  background-image: url('assets/bg/bg_blue-tiles.png');
}
